@font-face {
    font-family: handwriting;
    src: url(./fonts/Handwriting.ttf);
}
@font-face {
    font-family: cutesy;
    src: url(./fonts/Cutesy.ttf);
}
@font-face {
    font-family: courier;
    src: url(./fonts/COURIERTXT.ttf);
}
#box1{
    height: 300px;
    width: 300px;
    background-color: #bbc5aa;
    border-radius: 20px 20px 20px 20px;
    position: fixed;
    inset: 0px;
    /* width: 12rem;     */
    /* height: 5rem; */
    /* max-width: 100vw; */
    /* max-height: 100dvh; */
    margin: auto;
}
body{
    background-color: black;
}
#fb-btn{
    border: none;
    /* text-decoration: none; */
    display: inline-block;
    outline: none;
    position: relative;
    top: 40px;
    left: 92px;
    font-family: handwriting;
    background-color: #bbc5aa  ;
    font-size: 25px;

}

#insta-btn{
    border: none;
    /* text-decoration: none; */
    display: inline-block;
    outline: none;
    position: relative;
    top: 67px;
    left: 90px;
    font-family: handwriting;
    background-color: #bbc5aa  ;
    font-size: 25px;

}
#x-btn{
    border: none;
    /* text-decoration: none; */
    display: inline-block;
    outline: none;
    position: relative;
    top: 87px;
    left: 140px;
    font-family: handwriting;
    background-color: #bbc5aa  ;
    font-size: 25px;

}
#thread-btn{
     border: none; 
    /* text-decoration: none; */
    display: inline-block;
    outline: none;
    position: relative;
    top: 110px;
    left: 100px;
    font-family: handwriting;
    background-color: #bbc5aa  ;
    font-size: 25px;

}
#discord-btn{
    border: none;
    /* text-decoration: none; */
    display: inline-block;
    outline: none;
    position: relative;
    top: 130px;
    left: 108px;
    font-family: handwriting;
    background-color: #bbc5aa  ;
    font-size: 25px;

}
#fb-btn:hover{
    background-color: aliceblue;
}
#x-btn:hover{
    background-color: aliceblue;
}

#insta-btn:hover{
    background-color: aliceblue;
}

#thread-btn:hover{
    background-color: aliceblue;
}

#discord-btn:hover{
    background-color: aliceblue;
}



 #time {
    /* align-items: left; */
    position: absolute;
    left: 23em  ;
    font-family: cutesy;
    font-size: 3em;
    color: white    ;
} 
