* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

#main {
  position: relative;
  font-family: font;
  text-transform: uppercase;
  font-size: 4em;
  text-align: center;
  font-weight: 5%;
  position: relative;
  left: 200px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@font-face {
  font-family: font;
  src: url(./fonts/Kawai\ Animal.otf);
}
@font-face {
  font-family: font1;
  src: url(./fonts/KawaiMandala.otf);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
@font-face {
  font-family: sign;
  src: url(./Magicalnotes.ttf);
}
.nav {
  /* background-color: transparent; */
  /* color: white; */
  overflow: hidden;
  margin-bottom: 35em;
  /* font-size: 1em; */
  position: relative;
  left: 23%;
  /* size: 500px; */
}
.nav a {
  /* font-family: font1; */
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  font: 14px/28px D-DIN-Bold, Arial, Verdana, sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 20px;
}
.nav a:hover {
  opacity: 0.3;
}

.nav a:active {
  box-shadow: white;
}
#copyright {
  color: white;
  position: relative;
  left: 250px;
  top: 300px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-family: montserrat;
  font-size: 40px;
}

a {
  font-family: Montserrat;
  position: relative;
  text-decoration: none;
}

a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  left: 0%;
  background: white;
  transition: width 0.3s ease;
}

a:hover:after {
  width: 100%;
  left: 0%;
  background: white;
}

.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid white;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: white;
  /* opacity: 0.3; */
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.hover {
  background-color: transparent;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}
