*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: kawai;
    src: url(./fonts/Kawaii.otf);
}
@font-face {
    font-family: handwriting;
    src: url(./fonts/Handwriting.ttf);
}
@font-face {
    font-family: blog;
    src: url(./fonts/The\ Sunday.otf);
}
#head1 {
    text-align: center;
    font-family: kawai;
    font-weight: 200;
    font-size: 3em; 
    padding-top: 20px;
    /* text-decoration: underline; */
}

body{
  background-color: antiquewhite;
} 
/* #logo{
    border: 20px 20px 20px 20px;
} */

#blog{
    font-size: 14px;
    font-family: handwriting;
    text-align: center;
}

#insa{
    height: 15px;
    border-radius: 10px 10px 10px 10px;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left:  50px;   */
}


#followbtn{
    border-radius: 20px 20px 20px 20px;
    font-family: blog;
    /* display:block; */
    /* display: inline-block; */
    background-color: black;
    color: greenyellow;
    /* position: absolute;
    left: 397px; */
}
#buycoffee{
    border-radius: 20px 20px 20px 20px;
    font-family: blog;
    /* display:block; */    
    /* display: inline-block; */
    background-color: black;
    color: greenyellow;
    /* position: absolute;
    left: 380px; */
}
/* #boxes{
    position: relative;
    left: 180px; 
    text-align: center;
    display: block;
} */
/* #milk {
    height: 100px;
    width: 100px;
} */
