@font-face {
    font-family: kawai;
    src: url(./fonts/Kawaii.otf);
}
@font-face {
    font-family: handwriting;
    src: url(./fonts/Handwriting.ttf);
}
@font-face {
    font-family: blog;
    src: url(./fonts/The\ Sunday.otf);
}
#head1 {
    text-align: center;
    font-family: kawai;
    font-weight: 200;
    font-size: 3em; 
    /* text-decoration: underline; */
}

body{
  background-color: antiquewhite;
} 
/* #logo{
    border: 20px 20px 20px 20px;
} */

#blog{
    font-size: 14px;
    font-family: handwriting;
    text-align: center;
}

#insa{
    height: 15px;
    border-radius: 10px 10px 10px 10px;
}

#follow-btn-home1{
    border-radius: 20px 20px 20px 20px;
    font-family: blog;
    display:block;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
    background-color: black;
    color: greenyellow;
    position: absolute;
    left: 397px;
}
#buy-coffee{
    border-radius: 20px 20px 20px 20px;
    font-family: blog;
    display:block;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
    background-color: black;
    color: greenyellow;
    position: absolute;
    left: 375px;
    position: relative;
    top: 45px;
}

